test/MagElementTestClient/.idea
test/MagElementTestClient/office-build/MagElementTestClient
test/MagElementTestclient/cmake-build-debug/MagElementTestClient
**/build
*.out
*.bin
*.o
*.o.d
*.obj
*.pdb
*.exe
*.idb
*.ilk
*.pch
*.ipch
*.pdb
*.ipdb
**/.vs
**/x64/Debug
**/x64/Release
#*
.#.#
*.h#
*.h~
*~
*.cpp~
*.hpp~

extras/Tiva_Interface_EK_EB1_1292/Release
extras/Tiva_Interface_EK_EB1_1292/Debug
extras/Tiva_Interface_EK_EB1_1292/.config
extras/Tiva_Interface_EK_EB1_1292/.settings
extras/Tiva_Interface_EK_EB1_1292/BootloadableBins
extras/Tiva_Interface_EK_EB1_1292/BootloadableBins.zip
extras/Tiva_Interface_EK_EB1_1292/BootloadableBinsUpto2.4.zip


.metadata
.jxbrowser
.jxbrowser.userdata
.gitignore~

